
.box1{
  width: 27%;
  max-width: 27%;
  height: 100%;
  float: left;
  border: 1px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.5em;
  margin: 0.5em;
  background-color: #fa6935;
  display: flex;
}
.box2 {
	height:1200px;
	weight:1200px;
	background-color:#fa6935;
	
	padding: 0.5em;
	margin: 0.5em;
	border: 2px solid black;
	display: inline;
}



.inbox1{
	padding: 0.5em;
	margin: 0.5em;
	height: 1150px;
	width: 200px;
	background-color: cyan;
	border: 2px solid black;
	float: left;
} 

.inbox2{
	padding: 0.5em;
	margin: 0.5em;
	height: 40%;
	width: 400px;
	background-color: cyan;

} 


#container {
  position: relative;
  width: 1200px;
  height: 1200px;
  background:#fa6935 ;
}
#container div {
  position: absolute;
  width: 260px;
  height: 550px;
  background: cyan;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom:0;
}
.left {
  left: 0;
}


.row {
	display: flex;
}

@media screen and (max-width: 768px){
	.row{
		display: inline;
	}
	.box1{
		display: inline;

	}
	.box2{
		display: inline;
	}
	
}
